* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #fff;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: #fff;

}

p {
    color: #fff;
    margin 0.5;

}
img {
    width: 100%;
}

.test {
    width: 80%;
    height: 70vh;
    position: relative;
    background-image: url(flower.jpg) no-repeat center center/cover;
}
.test-top {
    position: relative;
    height: 65vh;

}

.test-top image {
    width: 100px;
    top: 70%;
    left: 50%;
    position: absolute;
    margin: 0%;
    margin-left: 0;
    transform: translate(-50px -50px);


}

.test-top a {
    position: absolute;
    top: 70px;
    left: 0px; 
    transform: translate(-50px -50px);
}
 
.test-content {
        position: relative;
        width: 65%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10rem;
    }


    .test-content h1 {
        font-weight: 600;
        font-size: 5.2rem;
        line-height: 1:1;
        margin: 0.02rem;
    }
    
    .test-content p {
        text-transform: uppercase;
        color:white;
        font-weight: 300;
        font-size: 1.9rem;
        line-height: 1.25;
        margin: 0.2rem;
    
    }

    .btn {
    display: inline-block;
    background: #e50914;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}

.btn-xl {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
    margin: 0.5rem;


}